<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" strict="true" name="Director's Note">
    <CustomLevels>
        <CustomLevel name="ACTOR-DEBUG" intLevel="475"/>
        <CustomLevel name="ACTOR-INFO" intLevel="450"/>
        <CustomLevel name="ACTOR-ERROR" intLevel="425"/>
    </CustomLevels>
    <Appenders>
        <File name="journal" fileName="logs/CallMeKey.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name ="internal" fileName="logs/internal.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="Notes" level="trace"/>
        <Root level="trace">
            <AppenderRef ref="internal" level = "trace"/>
            <AppenderRef ref="journal" level = "actor-debug"/>
        </Root>
    </Loggers>
</Configuration>
